{
	"env": {
		"browser": true,
    "es6": true,
    "jquery": true,
    "node": true,
    "jest": true
	},
	"extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "import",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
	"rules": {
    "indent": ["error", "tab"],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
    "prettier/prettier": "error",
    "comma-dangle": ["error", "never"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "imjs": true
  }
}
